GITLAB_TOKEN=glpat-xxxx
GITLAB_PROJECT_PATH=graduacao/2026-2a/t13/g02
GITLAB_PROJECT_ID=29514
GIT_AUTHOR_NAME=Andre Lobo
GIT_AUTHOR_EMAIL=andre.paula@sou.inteli.edu.br
SCHEDULE_START=2026-08-12T08:25:00-03:00
BOARD_LABEL_BACKLOG=Backlog
BOARD_LABEL_DOING=Doing
BOARD_LABEL_WAITING_REVIEW=Waiting Review
BOARD_LABEL_REVIEW=Review
