GITLAB_TOKEN=glpat-xxxx
GITLAB_PROJECT_PATH=graduacao/2026-2a/t13/2026-2a-t13-es11-g02/sindusfarma-g02
GITLAB_PROJECT_ID=30889
GIT_AUTHOR_NAME=Andre Lobo
GIT_AUTHOR_EMAIL=andre.paula@sou.inteli.edu.br
SCHEDULE_START=2026-08-12T12:00:00-03:00
